@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "FailedPayment";
}

<h2>FailedPayment</h2>

<div>
    @Html.ActionLink("Back to your profile " + User.Identity.GetUserName() + "?", "Details", "ApplicationUser", new { Id = User.Identity.GetUserId() }, new { title = "View Profile" })
</div>

