@model UberTappDeveloping.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<!--<h2>ViewPermiumOffer</h2>

<button class="btn btn-sm btn-primary">@Html.ActionLink("Become A Premium User", "PaymentWithPaypal", "PayPal")</button>-->

<body class="bodyPremiumOffer">
    <div class="container-fluid">
        <div class="row">
            @*<img id="premId" src="~/Helper/Images/Premium User.jpg" />*@
        </div>
        <div class="row">
            <button id="premBtn" class="btn btn-primary">
                @Html.ActionLink("Become A Premium User", "PaymentWithPaypal", "PayPal", new { Id = User.Identity.GetUserId() })
            </button>
        </div>
    </div>
</body>

