@model UberTappDeveloping.Models.ApplicationUser
@{
    ViewBag.Title = "ViewPermiumOffer";
}

<h2>ViewPermiumOffer</h2>

<button class="btn btn-sm btn-primary">@Html.ActionLink("Become A Premium User", "PaymentWithPaypal", "PayPal")</button>

