<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/HomePage.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="banner">
            <div class="app-text">
                <h1>Welcome to the best site for Beers!!!</h1>
                <p>In our website you can find the best Venues and Fests for Beers or chat with your friends and exchange preferences.</p>
                <div class="play-btn">
                    <div class="play-btn-inner">
                        <i class="fa fa-play"></i>
                    </div>
                    <small><b>LEARN MORE</b></small>
                </div>
            </div>
            <div class="app-picture">
                <img src="~/img/31-biggest-beer-brands-in-america.jpg" />
            </div>
            <div class="quick-links">
                <ul>
                    <li><i class="fa fa-share-alt"></i><p>SHARE TO</p></li>
                    <li><i class="fa fa-audio-description"></i><p>RECENT NEWS</p></li>
                    <li><i class="fa fa-cog"></i><p>ANALYTICS</p></li>
                    <li><i class="fa fa-btc"></i><p>WALLET</p></li>
                </ul>
            </div>
        </div>
        <div class="social-icons">
            <ul>
                <li><a href="https://el-gr.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/?lang=el"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGC4q64T62L1QAAAXY_gMOgiLDNSGk8bi4kX0YotEWqzaMcWWHZbxBHsLMB2Pcg7hjHC5rr1c_95TmcRGPKzP3KY3rwyocFHUH8MXmRyYUJ-z1YXQnS889xnE3Ad-_X0k2u3sM=&originalReferer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2F"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>

</body>
</html>