@model UberTappDeveloping.ViewModels.ControlPanelViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    

</style>




<div class="control-panel">

    <section class="panel-heading">
        <div class="first-head-row">
            <div class="first-col">
                <div class="profile-pick">
                    <img src="~/Views/Pictures/video_image-PKArdCjxK.png" />
                </div>                
                <div class="profile-info">
                    @Html.
                </div>
                <div class="edit-profile-info">
                    <button>Edit Profile</button>
                </div>
            </div>
            <div>
                <div class="second-head-row">
                    <div>
                        <h2 class="head-title"></h2>
                    </div>
                    <div class="head-buttons">
                        <span class="fa fa-book">
                            <a href="#">Encyclobeeria</a>
                        </span>
                        <span class="fa fa-beer">
                            <a href="#">FunPlaces</a>
                        </span>
                        <span class="fa fa-star">
                            <a href="#">Parties</a>
                        </span>
                        <span class="fa fa-thumbs-up">
                            <a href="#">Get Recommendations</a>
                        </span>
                        <span class="fa fa-users">
                            <a href="#">Buddy Zone</a>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="panel-body">
        <div class="interaction-space"></div>
    </section>

    <section class="panel-footer">
        <div class="sub-status">
            <button class="sub-button"></button>
        </div>
        <div class="chat-space"></div>
    </section>

</div>