@model UberTappDeveloping.ViewModels.BeerViewModel
@{
    ViewBag.Title = "FavBeer";
}

<h2>Favourite Beer</h2>

<ul class="beers">
    @foreach (var beer in Model.Beers)
    {
        <li>
            <div class="details">
                <span class="beer">
                    @beer.Name
                </span>
                <span class="fav">
                    @if (!Model.ShowActions)
                    {
                        <button data-user-id="@beer.Id" class="btn btn-link js-toggle-fav">Add as Favourite Beer</button>
                    }
                </span>

            </div>
        </li>

    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-fav").click(function (e) {
                let button = $(e.target);
                $.post("/api/userbeers", { beerId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Favourite Beer");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });
    </script>
}

